h1 {
    font-size: 1.8em;
    font-weight: bolder;
    color: #22577a;

}

h2 {
    font-size: 1.6em;
    font-weight: bolder;
    color: #38a3a5;
}

h3{
    font-size: 1.3em;
    font-weight: bolder;
    color: #57cc99;
}

h4 {
    font-size: 1.3em;
    font-weight: bolder;
    color: #80ed99;
}